* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
}
.main-hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.889),
      rgba(0, 0, 0, 0.768)
    ),
    url(forest-1072828_1280.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
  align-content: center;
  height: 100vh;
  padding: 0 3.2rem;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  /* padding: 0 12.8rem; */
}
.hero {
  max-width: 120rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.sign-up {
  background-image: linear-gradient(
      to right,
      rgba(228, 109, 4, 0.693),
      rgba(228, 109, 4, 0.693)
    ),
    url(forest-1072828_1280.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 8.6rem;
}
.heading {
  font-size: 4.8rem;
  color: #fff;
  font-weight: 100;
  text-align: center;
  margin-bottom: 4.8rem;
}
.text {
  margin-bottom: 3.2rem;
}
.hero .sign-text {
  font-size: 2.4rem;
  color: #fff;
}
/* -------------------------text-box---------------------------- */
.signup-text-box {
  /* width: 100%; */
  padding: 8.6rem;
  background-color: #fff;
}
.signup-text-box .heading {
  color: #9ca098;
  display: none;
}
.input {
  border-bottom: 1px solid rgba(166, 167, 170, 255);
  margin-bottom: 2.4rem;
}
label {
  margin-bottom: 0.8rem;
  display: inline-block;
  color: #9ca098;
  font-size: 1.4rem;
}

.input-fill {
  width: 100%;
  background-color: transparent;
  border-style: none;
  outline: none;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}
.input-fill:focus {
  box-shadow: 0.3px 0.3px 1px rgb(75, 71, 71);
}

span {
  color: #00cb66;
  font-size: 1.6rem;
  font-weight: 400;
}

.cheackbox-text {
  color: #9ca098;
  font-size: 1.6rem;
}
.sign-btn {
  display: flex;
  align-items: center;
}
.button:link,
.button:visited {
  background-color: #00cb66;
  padding: 1rem 3rem;
  text-decoration: none;
  color: #f7faf3;
  font-size: 1.6rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
}
.button:hover,
.button:active {
  background-color: rgba(228, 109, 4, 0.693);
}
.margin-bottom {
  margin-bottom: 4.8rem;
}
.cheakbox {
  margin-right: 2rem;
}
.cheakbox-flex {
  display: flex;
  margin-bottom: 3.2rem;
}
.button-login {
  text-decoration: none;
  color: #00cb66;
  font-size: 1.6rem;
}
.sign-btn .button-login .text {
  color: rgb(156, 160, 152);
}
@media (max-width: 1200px) {
  .hero {
    max-width: 102.4rem;
  }
  .heading {
    margin-bottom: 3.2rem;
  }
}
@media (max-width: 975px) {
  .sign-up {
    display: none;
  }
  .grid {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .signup-text-box {
    padding: 6.4rem 4.8rem;
  }
  html {
    font-size: 55%;
  }
  .signup-text-box .heading {
    display: block;
  }

}
/* @media (max-width: 1000px) {
  .sign-up {
    display: none;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .signup-text-box .heading {
    display: block;
  }
}
@media (max-width: 667px) {
  .main-hero {
    padding: 8rem;
  }
}
@media (max-width: 475px) {
  .signup-text-box {
    padding: 4.8rem;
  }
  .input {
    margin-bottom: 1.6rem;
  }
  .cheackbox-text,
  span {
    font-size: 1.2rem;
  }
} */
